apiVersion: v1
kind: Service
metadata:
  name: hpf1
  namespace: opsera-hpf1-dev
  labels:
    app: hpf1
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: hpf1
